*,
*::before,
*::after{
    box-sizing: border-box;
}


body{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    background: url('assets/img/background-img5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
}
h1{
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 3rem;
}


h2{
    font-family: Roboto, sans-serif;
    color:rgb(214, 177, 11);
}
h3{
    font-family: Roboto, sans-serif;
    color:  rgb(214, 177, 11);
    font-weight: 100;
    font-size: 2rem;
}

.header{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
header:first-child{
    margin-left: 1rem;
}

.container{
    text-align: center;
    padding-top: 10rem;
}

.profile-img{
    width: 18%;
    border-radius: 50%;
    border: 3px solid white;
}

span{
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 100;
    font-size: 3rem;
}

.nav-list {
    gap: 1rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.5rem;
    list-style: none;

}



.nav-item a{
    padding: 5px;
    color: white;
    margin-right: 2rem;
    text-decoration: none;
    transition: .15s;
    border-radius: 50%;
    border:none;
}

.nav-item a:hover{
    padding: 10px;
    color: black;
    background-color: rgb(214, 177, 11);
    border: 1rem solid rgb(214, 177, 11);
    border-radius: 2px;
}

.nav-item a:active{
    opacity: .1;
    transition: .5;
    color: white;
    
    
}

   
.nav-item:first-child{
    margin-right: auto;
}



